html{
	background-color: #403f3f;
}
body{
	background-color:#403f3f;
}

p{
	color: white;
	background-color: #403f3f;
	font-family: Comfortaa;
	text-align: center;
	font-size: 120%;
}

h1{
  color: #ffffff;
  font-family: Comfortaa;
  font-size: 770%;
  font-weight: bold;

 }

 h2
 {
 	color: #3b71c1;
 	font-family: 'GrandHotelRegular'; 
 	font-size: 360%;
   	font-weight: normal; 
   	font-style: normal; 

 }